@model TracksViewModel2

@{
    Layout = "_StartLayout";
    ViewBag.Title = "DeDup";
    ViewBag.PageHeading = "Duplicates";
}

<p><h3>All items not selected will be removed from the  playlist.</h3></p>

<div class="playlist">
    <form action="/PlayLists/RemoveTracks" method="post">
        <table class="tracksTable">
            <tr>
                <th>Keep</th>
                <th>Title</th>
                <th>Artist</th>
                <th>Album</th>
            </tr>
            @for (int i = 0; i < Model.TrackList.Count(); i++)
            {
                <tr>
                    <td>
                        @Html.CheckBoxFor(model => model.TrackList[i].IsSelected)
                    </td>
                    <td>
                        @Model.TrackList[i].Name)
                        @Html.HiddenFor(model => model.TrackList[i].Name)
                    </td>
                    <td>
                        @Model.TrackList[i].ArtistName
                        @Html.HiddenFor(model => model.TrackList[i].ArtistName)
                    </td>
                    <td>
                        @Model.TrackList[i].AlbumName
                        @Html.HiddenFor(model => model.TrackList[i].Id)
                        @Html.HiddenFor(model => model.TrackList[i].AlbumName)
                    </td>
                </tr>
            }
        </table>
        <button class="btn-login" type="submit">Submit</button>
    </form>
</div>

