@model TracksViewModel

@{
    ViewData["Title"] = "Play Lists";
    Layout = "~/Views/Shared/_StartLayout.cshtml";
    ViewBag.PageHeading = "Tracks";
}

@section JavaScript {
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="~/lib/napster/napster.js"></script>
    <script type="text/javascript" src="~/JS/PlayerControl.js"></script>
}

<div class="container-fluid text-center">
    <div class="playlist">
        <div class="logon">
            <div class="lg-rnd-border mt-3 mb-3 list-inline-item px-1">
                <a class="tool-btn" href="/PlayLists/Shuffle">Shuffle</a>
                <a class="tool-btn" href="/PlayLists/MarkDups">DeDup</a>
                <a class="tool-btn" href="/PlayLists/Save">Save</a>
            </div>
            <h4 class="pt-2">Playlist Name: @Model.PlayListName</h4>
        </div>
        <table class="tracksTable">
            <tr>
                <th><a href="/playlists/Sort?sortItem=Title">Title</a></th>
                <th><a href="/playlists/Sort?sortItem=Artist">Artist</a></th>
                <th><a href="/playlists/Sort?sortItem=Album">Album</a></th>
            </tr>
            @foreach (var m in Model.TrackList)
            {
                <tr>
                    <td onclick="play('@m.Id')"><a href="javascript:void(0);">@m.Name</a></td>
                    <td>@m.ArtistName</td>
                    <td>@m.AlbumName</td>
                </tr>
            }
        </table>
        @Html.Partial("Player")
    </div>
</div>
